{
  "protocol": "http",
  "hostname": "localhost",
  "port": 80,
  "webServer": {
    "port": 4000
  },
  "api": {
    "protocol": "https",
    "hostname": "api.{{ caliopen_domain_name }}",
    "port": 443,
    "checkCertificate": false
  },
  "cookie": {
    "secret": "{{ web_client_cookie_secret }}"
  },
  "seal": {
    "secret": "{{ web_client_seal_secret }}"
  }
}
