storage "cassandra" {
	hosts = "{% for host in groups['store']%}{{ hostvars[host]['backend_ip'] }}{%- if not loop.last -%},{% endif %}{% endfor %}"
	consistency = "LOCAL_QUORUM"
	protocol_version = 2
	keyspace = "vault"
	table = "entries"
}

listener "tcp" {
  address = "{{ hostvars['object_store1']['backend_ip'] }}:8200"
  tls_cert_file = "{{ vault_cert_path }}"
  tls_key_file  = "{{ vault_key_path }}"
}
