[Unit]
Description=AlertManager service

[Service]
Restart=always
ExecStart=/usr/local/alertmanager-{{ alertmanager_version }}.linux-amd64/alertmanager -config.file=/etc/prometheus/alertmanager.yml -web.listen-address {{ facter_ipaddress_eth1 }}:9091
ExecStop=pkill alertmanager

[Install]
WantedBy=local.target
