global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'codelab-monitor'

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:

  - job_name: 'http'
    scrape_interval: 5s
    static_configs:
      # nginx servers
      - targets: [{% for host in groups['monitor'] %}'{{ host }}.local:9145',{% endfor %}{% for host in groups['api'] %}'{{ host }}.local:9145',{% endfor %}{% for host in groups['web_client'] %}'{{ host }}.local:9145',{% endfor %}]

  - job_name: 'stores'
    scrape_interval: 5s
    static_configs:

      # elasticsearch exporter
      - targets: ['localhost:9108']

      # cassandra cluster
      - targets: [{% for host in groups['store'] %}'{{ host }}.local:7070',{% endfor %}]

      # cache
      - targets: [{% for host in groups['cache'] %}'{{ host }}.local:9121',{% endfor %}]

  - job_name: 'queues'
    scrape_interval: 5s
    static_configs:

      # nats exporter
      - targets: [{% for host in groups['mq'] %}'{{ host }}.local:7777',{% endfor %}]

  - job_name: 'hosts'
    scrape_interval: 5s
    static_configs:

      # node exporter
      - targets: [{% for host in groups['all'] %}'{{ host }}.local:9100',{% endfor %}]

rule_files:
  - /etc/prometheus/rule*
