[Unit]
Description=Prometheus service

[Service]
Restart=always
ExecStart=/usr/local/prometheus-{{ prometheus_version }}.linux-amd64/prometheus -config.file=/etc/prometheus/prometheus.yml -web.listen-address {{ facter_ipaddress_eth1 }}:9090  -alertmanager.url http://{{ facter_ipaddress_eth1 }}:9091
ExecStop=pkill prometheus

[Install]
WantedBy=local.target
